<!-- <h1>Welcome to Angular</h1> -->
<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, repellendus!</p> -->


<!-- <app-first></app-first>   -->
 <!-- <app-data-binding></app-data-binding>  -->
  <!-- <app-task></app-task> -->
  <!-- <app-event-binding></app-event-binding>  -->
  <!-- <app-second></app-second> -->
  <!-- <app-third></app-third> -->
  <!-- <app-directive-example></app-directive-example> -->
  <!-- <app-product></app-product> -->
  <app-product-list></app-product-list>