<p>second works!</p>
<h3>Annual Salary {{annualSalary | currency}}</h3>
<h3>Annual Salary {{annualSalary | currency:'INR'}}</h3>
<h3>Today's Date: {{todaysDate}}</h3>
<h3>Todays Date with Pipe: {{todaysDate | date}}</h3>
<h3>Short Date : {{todaysDate | date:'shortDate'}}</h3>
<h3>Medium Date : {{todaysDate | date:'mediumDate'}}</h3>
<h3>Date in dd/mm/yyyy : {{todaysDate | date:'dd/MM/yyyy'}}</h3>

<h3>Total Price:{{totalPrice | number:'.1-2'}}</h3>

<h3>Total Price:{{totalPrice | number:'.1-2'}}</h3>
