/* You can add global styles to this file, and also import other style files */

.bg  {
    background-color: antiquewhite;
}

.bg-one{
    background-color: blueviolet;
}

.heading{
    border: 2px solid red;
    font-size: 20px;
}